/* This resets all elements */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* Actual stylesheet begins here */

a { color: #000055; font-family: sans-serif; text-decoration: none; }

p { font-size: 120%; font-family: sans-serif; padding-bottom: 20px; text-indent: 0px;}

#main { width:800px; margin:0 auto; padding: 0;}

.rounded { }

.full { width:800px; float:left; }
.three-quarter { width:550px; float:left; }
.half { width:400px; float:left; }
.quarter { width:200px; float:left; }
.spacer { width:50px; float:left; }


#navbar 
{ 
float:left;
width: 150px; 
text-align: left; 
background: #5081AA; 
padding:10px 5px 10px 20px; 
margin-top: 10px; margin-bottom: 10px; 
font-size: 140%;  
}
#navbar a { color: #000055; }
#navbar a.thispage { color: #fff; }
#navbar ul { display: table; }
#navbar ul li { display: table; }

#banner { width:200px; float:left; margin:0px; margin-left: 20px; padding-top:20px; }
#banner img { width:460px; }

#download 
{ 
    float:right;
    font-size: 120%; 
    font-family: sans-serif; 
    background: #FFDC75;
    padding: 10px 25px 20px 20px;
    margin-left: 15px;
    margin-right: 0px;
}
#download h4 { color: black; }
#download a { color: #CD2626; }
#download ul { display: table; color: #CD2626; }
#download ul li { display: table; padding-left: 20px; color: #CD2626; }

.section 
{ 
    width: 800px;
    background: #5081AA; 
    padding:0px 10px 0px 10px;
    text-align: center; 
    margin: 0px 10px 10px 0px;
    font-size: 150%;
    font-family: sans-serif;
}
.section h2 { color: #fff; }
 
.screenshot
{
float:left;
background: #ddd; 
padding: 10px 10px;
font-family: monospace;
font-size: 120%;
margin: 0px 10px 10px 0px;
border: 0px;
}
.screenshot h3 { font-family: sans-serif; padding: 0px 0px 10px 0px; }
.screenshot ul { display: table; }
.screenshot ul li { display: table; }

.docs h2 { font-size: 150%; font-weight: bold; }
.docs h3 { font-size: 120%; font-weight: bold; }
.docs h4 { font-weight: bold; }
.docs a { color: blue; }
.docs em { font-style: italic; }
.docs em { font-style: italic; }
.docs p { text-indent: 1px;  }
.docs code { font-family: monospace; background: #fff; padding: 10px; }
.docs code p { font-family: monospace; background: #fff; padding: 10px; }


#footer { width: 800px; margin-bottom: 200px; float: left; }
