html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}


a { color: #fff; font-family: sans-serif; text-decoration: none; }

#main { width:800px; margin:0 auto; padding: 0;}

.full { width:800px; float:left; }
.three-quarter { width:600px; float:left; }
.half { width:400px; float:left; }
.quarter { width:200px; float:left; }
.spacer { width:50px; float:left; }


#navbar 
{ 
float:left;
width: 150px; 
text-align: left; 
background: #5081AA; 
padding:10px 5px 10px 20px; 
margin-top: 10px; margin-bottom: 10px; 
font-size: 120%;  
}
#navbar a { color: #000055; }
#navbar a.thispage { color: #fff; }

#banner { width:200px; float:left; margin:0px; margin-left: 20px; padding-top:20px; }

#download-box { background: white;}

.section 
{ 
    width: 800px;
    background: #5081AA; 
    padding:0px 10px 0px 10px;
    text-align: center; 
    margin: 0px 10px 10px 0px;
    font-size: 150%;
    font-family: sans-serif;
}
.section h2 { color: #fff; }
 
p { font-size: 120%; font-family: sans-serif; padding-bottom: 20px; }
.screenshot
{
float:left;
background: #ddd; 
padding: 10px 10px;
font-family: monospace;
font-size: 120%;
margin: 0px 10px 10px 0px;
border: 0px;
}
.screenshot h3 { font-family: sans-serif; padding: 0px 0px 10px 0px; }
